<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>save</title>
</head>
<body>
<h2>save.html</h2>
<form action="/board/save" method="post" enctype="multipart/form-data">
    작성자: <input type="text" name="boardWriter"> <br>
    비밀번호: <input type="password" name="boardPass"> <br>
    제목: <input type="text" name="boardTitle"> <br>
    내용: <textarea name="boardContents" cols="30" rows="10"></textarea> <br>
    파일: <input type="file" name="boardFile" multiple> <br>
    <input type="submit" value="글작성">
</form>
</body>
</html>